.DS_Store
node_modules
/package

# svelte-kit build path
/.svelte-kit
/.vercel_build_output

firb-mobile-firebase-adminsdk-auwn5-a15fb79415.json
mobile-devtool-firebase-adminsdk-x7tc5-b785e1c67b.json
